<div class="league-tooltip__info league-tooltip__info--champion">
  <div class="league-tooltip__left-panel">
    <div class="league-tooltip__title-container">
      <div class="league-tooltip__image" style="background-image: url(//ddragon.leagueoflegends.com/cdn/<%= patchVersion.patch %>/img/sprite/<%= data.image.sprite %>); background-position: -<%= data.image.x %>px -<%= data.image.y %>px; width: <%= data.image.w %>px; height: <%= data.image.h %>px;"></div>
      <h1 class="league-tooltip__title"><%= data.name %></h1>
      <small class="league-tooltip__champion-title"><%= data.title %></small>
    </div>
    <div class="clearfix"></div>
    <ul class="league-tooltip__tags league-tooltip__tags--champion">
      <% data.tags.forEach(function (tag) { %>
        <li class="league-tooltip__tag">#<%= locale[tag] || tag %></li>
      <% }) %>
    </ul>
    <div class="league-tooltip__champion-infos">
      <div class="league-tooltip__champion-info league-tooltip__champion-info--red" style="width: <%= data.info.attack %>0%;"></div>
      <div class="league-tooltip__champion-info league-tooltip__champion-info--green" style="width: <%= data.info.defense %>0%;"></div>
      <div class="league-tooltip__champion-info league-tooltip__champion-info--blue" style="width: <%= data.info.magic %>0%;"></div>
      <div class="league-tooltip__champion-info league-tooltip__champion-info--purple" style="width: <%= data.info.difficulty %>0%;"></div>
    </div>
  </div>
  <div class="league-tooltip__right-panel">
    <table class="league-tooltip__stats">
      <tr class="league-tooltip__stat"><td class="league-tooltip__stat-column"><%= locale.FlatHPPoolMod %></td><td class="league-tooltip__stat-column"><span class="league-tooltip__stat-base"><%= _.round(data.stats.hp, 0) %></span> (+<span class="league-tooltip__stat-perlevel"><%= _.round(data.stats.hpperlevel, 0) %></span>)</td></tr>
      <tr class="league-tooltip__stat"><td class="league-tooltip__stat-column"><%= locale.FlatHPRegenMod %></td><td class="league-tooltip__stat-column"><span class="league-tooltip__stat-base"><%= _.round(data.stats.hpregen, 1) %></span> (+<span class="league-tooltip__stat-perlevel"><%= _.round(data.stats.hpregenperlevel, 1) %></span>)</td></tr>
      <tr class="league-tooltip__stat"><td class="league-tooltip__stat-column"><%= locale.FlatMPPoolMod %></td><td class="league-tooltip__stat-column"><span class="league-tooltip__stat-base"><%= _.round(data.stats.mp, 0) %></span> (+<span class="league-tooltip__stat-perlevel"><%= _.round(data.stats.mpperlevel, 0) %></span>)</td></tr>
      <tr class="league-tooltip__stat"><td class="league-tooltip__stat-column"><%= locale.FlatMPRegenMod %></td><td class="league-tooltip__stat-column"><span class="league-tooltip__stat-base"><%= _.round(data.stats.mpregen, 1) %></span> (+<span class="league-tooltip__stat-perlevel"><%= _.round(data.stats.mpregenperlevel, 1) %></span>)</td></tr>
      <tr class="league-tooltip__stat"><td class="league-tooltip__stat-column"><%= locale.FlatMovementSpeedMod %></td><td class="league-tooltip__stat-column"><span class="league-tooltip__stat-base"><%= _.round(data.stats.movespeed, 0) %></span></td></tr>
      <tr class="league-tooltip__stat"><td class="league-tooltip__stat-column"><%= locale.FlatPhysicalDamageMod %></td><td class="league-tooltip__stat-column"><span class="league-tooltip__stat-base"><%= _.round(data.stats.attackdamage, 0) %></span> (+<span class="league-tooltip__stat-perlevel"><%= _.round(data.stats.attackdamageperlevel, 0) %></span>)</td></tr>
      <tr class="league-tooltip__stat"><td class="league-tooltip__stat-column"><%= locale.FlatAttackSpeedMod %></td><td class="league-tooltip__stat-column"><span class="league-tooltip__stat-base"><%= _.round(0.625/(1+data.stats.attackspeedoffset), 3) %></span> (+<span class="league-tooltip__stat-perlevel"><%= _.round(data.stats.attackspeedperlevel, 1) %>%</span>)</td></tr>
      <tr class="league-tooltip__stat"><td class="league-tooltip__stat-column"><%= locale.Range %></td><td class="league-tooltip__stat-column"><span class="league-tooltip__stat-base"><%= _.round(data.stats.attackrange, 0) %></span></td></tr>
      <tr class="league-tooltip__stat"><td class="league-tooltip__stat-column"><%= locale.FlatArmorMod %></td><td class="league-tooltip__stat-column"><span class="league-tooltip__stat-base"><%= _.round(data.stats.armor, 1) %></span> (+<span class="league-tooltip__stat-perlevel"><%= _.round(data.stats.armorperlevel, 1) %></span>)</td></tr>
      <tr class="league-tooltip__stat"><td class="league-tooltip__stat-column"><%= locale.FlatSpellBlockMod %></td><td class="league-tooltip__stat-column"><span class="league-tooltip__stat-base"><%= _.round(data.stats.spellblock, 1) %></span> (+<span class="league-tooltip__stat-perlevel"><%= _.round(data.stats.spellblockperlevel, 1) %></span>)</td></tr>
    </table>
  </div>
  <div class="clearfix"></div>
</div>
