<div class="league-tooltip__info league-tooltip__info--summonerspell">
  <div class="league-tooltip__title-container">
    <div class="league-tooltip__image" style="background-image: url(//ddragon.leagueoflegends.com/cdn/<%= patchVersion.patch %>/img/sprite/<%= data.image.sprite %>); background-position: -<%= data.image.x %>px -<%= data.image.y %>px; width: <%= data.image.w %>px; height: <%= data.image.h %>px;"></div>
    <h1 class="league-tooltip__title"><%= data.name %></h1>
    <p><span class="league-tooltip__title-small"><%= data.cooldownBurn %>s cooldown</span> (<%= data.rangeBurn %> range)</p>
  </div>
  <div class="clearfix"></div>
  <p class="league-tooltip__description"><%= data.description %></p>
  <p class="league-tooltip__summonerspell-min-level">min. level : <%= data.summonerLevel %></p>
  <ul class="league-tooltip__tags">
    <% data.modes.forEach(function (mode) { %>
      <li class="league-tooltip__tag">#<%= mode %></li>
    <% }) %>
  </ul>
</div>
